{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %} 

{% block title %}
Inventory
{% endblock title %}

{% block content %}
<div class="row" style="height: calc(100vh - 185px);">
  <div class="col-md-10">
    <div class="card card-nav-tabs">
      <div class="card-header card-header-rose">
        <h4><i class="material-icons" >library_books</i> List of Products
          {% comment %} <button class="btn btn-white btn-sm mr-2 ml-2 text-primary float-right" data-toggle="modal" data-target="#newEditProductModal" onclick="newEditProduct('new')">
            Add / Edit Product &nbsp; <i class="material-icons">queue</i>
          </button> {% endcomment %}
          {% comment %} <form id="add_edit_form" class="float-right" >
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="material-icons text-light">qr_code_scanner</i>
                </span>
              </div>
              <input type="text" class="border-bottom text-light" id="input_fetch" placeholder="SCAN or ENTER Barcode" style="font-size: 14px; border: 0; background: none;" autofocus>
            </div>
          </form> {% endcomment %}
        </h4>
      </div>
      {% comment %} <div class="card-body" style="height:535px; overflow: auto;"> {% endcomment %}
      <div class="card-body" style="height: calc(100vh - 185px); overflow: auto;">
        <div class="tab-content">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>BARCODE</th>
                <th>NAME</th>
                <th style="max-width: 200px;">DESC.</th>
                <th>SIZE</th>
                <th class="text-center">STOCK</th>
                <th>PRICE</th>
                <th class="text-center pl-0 pr-0" colspan=2>ACTIONS</th>
              </tr>
            </thead>
            <tbody class="product_list">
            {% for product in products %}
              <tr>
                <td>{{ product.barcode }}</td>
                <td>{{ product.name|title }}</td>
                <td style="max-width: 200px; white-space: nowrap; overflow:hidden; text-overflow: ellipsis;">{{ product.description|title }}</td>
                <td>{{ product.size }}</td>
                <td class="text-center">
                  <span class="p-2 border rounded
                    {% if product.qty_stock < 5 and product.qty_stock > 0 %}
                      text-warning border-warning
                    {% elif product.qty_stock <= 0  %}
                      text-danger border-danger
                    {% else  %}
                      text-success border-success
                    {% endif %}" style="font-weight: bold;"
                  >{{ product.qty_stock }}</span></td>
                <td>&#8369; {{ product.price }}</td>
                <td class="text-center pl-0 pr-0">
                  <button type="button" class="m-0 pl-2 pr-2 btn btn btn-sm btn-info" data-toggle="modal" data-tooltip="tooltip" title="Edit" data-target="#newEditProductModal" onclick="newEditProduct({{product.pk}}, '{{product.barcode}}', '{{product.name}}', '{{product.description}}', '{{product.size}}', {{product.qty_stock}}, {{product.price}})">
                    <i class="material-icons">edit</i>
                  </button type="button">
                </td>
                <td class="text-center pl-0 pr-0">
                  {% url 'delete_product' pk=product.pk as delete_url %}
                  <button type="button" class="m-0 pl-2 pr-2 btn btn btn-sm btn-danger" data-toggle="modal" data-tooltip="tooltip" title="Delete" data-target="#prodfromDeleteModal" onclick="delete_prod_confirm('{{delete_url}}', '{{product.name}}')">
                    <i class="material-icons">delete</i>
                  </button type="button">
                </td>
              </tr> 
            {% empty %}
              <tr>
                <td colspan=6 class="h3 text-center">No Data to Display</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row m-auto h-50" >
      <div class="card">
        <div class="card-header card-header-icon card-header-primary">
          <div class="card-icon text-center">
            <i class="material-icons" style="font-size: 3.3em;">qr_code</i>
          </div>
        </div>
        <div class="card-body">
          <h4 class="text-center">ADD or EDIT PRODUCT</h4>
          <div class="form-group">
            <form id="add_edit_form">
              <label for="input_fetch" class="bmd-label-floating">BARCODE</label>
              <input type="text" id="input_fetch" class="form-control" autofocus>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-auto h-50">
      <div class="card">
        <div class="card-header card-header-icon card-header-danger">
          <div class="card-icon text-center">
            <i class="material-icons" style="font-size: 3.3em;">report</i>
          </div>
        </div>
        <div class="card-body pl-3 pr-3" style="overflow-y: auto !important;">
          {% for prod in list_of_needed_prod %}
            <p class="border-bottom" style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;">&bull; 
              <a href="#" class="
                {% if prod.qty_stock < 5 and prod.qty_stock > 0 %}
                  text-warning
                {% elif prod.qty_stock <= 0  %}
                  text-danger
                {% endif %}
              " 
              data-toggle="modal" data-target="#newEditProductModal"
              onclick="newEditProduct({{prod.pk}}, '{{prod.barcode}}', '{{prod.name}}', '{{prod.description}}', '{{prod.size}}', {{prod.qty_stock}}, {{prod.price}}); "
              >
                {{ prod|title }} - {{prod.size}}
              </a>
            </p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- New/Edit Product Modal -->
<button id="prodModalButton" data-toggle="modal" data-target="#newEditProductModal" style="display:none;"></button>
<div class="modal fade" id="newEditProductModal" tabindex="-1" aria-labelledby="newProductModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"><i class="material-icons">queue</i> <span id="new_edit_modal_prod"></span> Product</h3> 
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" autocomplete="off">
          {% csrf_token %}
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="id_barcode" class="bmd-label-floating">Barcode</label>
                  {% render_field form.barcode class="form-control h5 font-weight-bold" %}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="id_name" class="bmd-label-floating ">Name</label>
                  {% render_field form.name class="form-control h5 font-weight-bold" %}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group ">
                  <label for="id_description" class="bmd-label-floating">Description</label>
                  {% render_field form.description class="form-control h5 font-weight-bold" %}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group ">
                  <label for="id_size" class="bmd-label-floating">Size</label>
                  {% render_field form.size class="form-control h5 font-weight-bold" %}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group ">
                  <label for="id_qty_stock" class="bmd-label-floating">Quantity Stock</label>
                  {% render_field form.qty_stock class="form-control h5 font-weight-bold" %}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mx-auto">
                <div class="form-group ">
                  <label for="id_price" class="bmd-label-floating">Price</label>
                  {% render_field form.price class="form-control h5 font-weight-bold" %}
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
          <input type="hidden" id="form_ctrl" name="form_ctrl" value=""/>
          <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Prod Modal -->
<div class="modal fade" id="prodfromDeleteModal" tabindex="-1" role="dialog" aria-labelledby="prodfromDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title mt-0"><i class="material-icons">delete_sweep</i> Delete Product</h3> 
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div class="font-weight-bold h5" >Are you sure to <strong>Delete</strong> Product <strong><span class="text-primary" id="delete_modal_prod"></span></strong>?</div>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn text-white" data-dismiss="modal">No</a>
        <a class="btn btn-primary" id="deletey" href="">Yes</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block readyScript %}
  {% comment %} console.log(localStorage.getItem("globalProdPK")); {% endcomment %}
  {% if form.errors.items|length > 0 %}
    $('#prodModalButton').trigger('click');
    $('#form_ctrl').val(localStorage.getItem("globalProdPK"));
  {% endif %}
  $("#input_search").on("keyup search", function() {
    var value = $(this).val().toLowerCase();
    $(".product_list tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
{% endblock readyScript %}

{% block normalScript %}
  function delete_prod_confirm(urla, name) {
    $('#delete_modal_prod').text(name);
    $('#deletey').attr("href", urla);
  }

  function newEditProduct(pk, barcode, name, description, size, qty_stock, price) {
    if (pk == "new" ) {
      localStorage.setItem("globalProdPK", 'new_item');
      $('#new_edit_modal_prod').text("New");
      $('#id_barcode').val("");
      $('#id_name').val("");
      $('#id_description').val("");
      $('#id_size').val("");
      $('#id_qty_stock').val("");
      $('#id_price').val("");
      $('#form_ctrl').val('new_item');
    } else {
      localStorage.setItem("globalProdPK", pk);
      $('#new_edit_modal_prod').text("Edit");
      $('#id_barcode').val(barcode);
      $('#id_name').val(name);
      $('#id_description').val(description);
      $('#id_size').val(size);
      $('#id_qty_stock').val(qty_stock);
      $('#id_price').val(price);
      $('#form_ctrl').val(pk);
    }
  }

  function fetch_product(barcode) {
    fetch('http://127.0.0.1:8000/inventory/get_product/' + barcode)
    .then(response => response.json())
    .then($('#prodModalButton').trigger('click'))
    .then(
      data => newEditProduct(data['pk'], data['fields'].barcode, data['fields'].name, data['fields'].description, data['fields'].size, data['fields'].qty_stock, data['fields'].price)
    ).catch(function() {
      newEditProduct('new');
      $("#id_barcode").val(barcode);
    });
  }

  $("#add_edit_form").submit(function(e){
    e.preventDefault();
    bcode = $("#input_fetch").val();
    {% comment %} console.log(bcode); {% endcomment %}
    fetch_product(bcode);
  });
{% endblock normalScript %}