{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %} 

{% block title %}
Employee
{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-9 mx-auto">
    <div class="card card-nav-tabs">
      <div class="card-header card-header-primary">
        <h4><i class="material-icons align-middle" >group</i> List of Employees
          <button class="btn btn-white text-primary float-right btn-sm" data-toggle="modal" data-target="#newEmployeeModal" onclick="employeeAddEdit('new')">
            New Employee &nbsp; <i class="material-icons align-middle">person_add</i>
          </button>
        </h4>
      </div>
      <div class="card-body" style="height: calc(100vh - 185px); overflow: auto;">
        <div class="tab-content text-center">
          <table class="table table-sm table-hover">
            <thead class="">
              <tr>
                <th scope="col">#</th>
                <th scope="col">USERNAME</th>
                <th scope="col">FIRST NAME</th>
                <th scope="col">LAST NAME</th>
                <th scope="col">ADMIN</th>
                <th scope="col">ACTIVE</th>
                <th scope="col">ACTIONS</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
                <tr>
                  <td class="fw-bold">{{forloop.counter}}.</td>
                  <td class="fw-bold">{{user.username}}</td>
                  <td class="fw-bold">{{user.first_name|title}}</td>
                  <td class="fw-bold">{{user.last_name|title}}</td>
                  <td class="fw-bold {% if user.is_staff == True %} text-success">&#10003;{% else %} text-danger">&#10007;{% endif %}</td>
                  <td class="fw-bold {% if user.is_active == True %} text-success">&#10003;{% else %} text-danger">&#10007;{% endif %}</td>
                  {% if user.username == "admin" %}
                    <td></td>
                  {% else %}
                    <td class="text-end">
                      <button type="button" class="m-0 pl-2 pr-2 btn btn btn-sm btn-info" data-toggle="modal" data-tooltip="tooltip" title="Edit" data-target="#newEmployeeModal" onclick="employeeAddEdit({{user.pk}}, '{{user.first_name}}', '{{user.last_name}}', '{{user.username}}', {{user.is_staff|lower}}, {{user.is_active|lower}}, '{{user.password1}}', '{{user.password2}}' )">
                        <i class="material-icons">edit</i>
                      </button type="button">
                      &nbsp;
                      {% url 'delete_employee' pk=user.pk as delete_url %}
                      <button type="button" class="m-0 pl-2 pr-2 btn btn btn-sm btn-danger" data-toggle="modal" data-tooltip="tooltip" title="Delete" data-target="#empformDeleteModal" onclick="delete_emp_confirm('{{delete_url}}', '{{user.username}}')">
                        <i class="material-icons">delete</i>
                      </button type="button">
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- New/Edit Emp Modal -->
  <button id="empModalButton" data-toggle="modal" data-target="#newEmployeeModal" style="display:none;"></button>
  <div class="modal fade" id="newEmployeeModal" tabindex="-1" aria-labelledby="newEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title"><i class="material-icons align-middle">person</i> <span id="new_edit_modal_emp"></span> Employee</h3> 
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" autocomplete="off">
            {% csrf_token %}
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="id_first_name" class="bmd-label-floating">First Name</label>
                    {% render_field form.first_name class="form-control h5 font-weight-bold" %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group ">
                    <label for="id_last_name" class="bmd-label-floating">Last Name</label>
                    {% render_field form.last_name class="form-control h5 font-weight-bold" %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <div class="form-group ">
                    <label for="id_username" class="bmd-label-floating">Username</label>
                    {% render_field form.username class="form-control h5 font-weight-bold" %}
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-check">
                    <label class="form-check-label">
                      {% render_field form.is_admin class="form-check-input" %}
                      Admin
                      <span class="form-check-sign">
                          <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <div class="form-group ">
                    <label for="id_password1" class="bmd-label-floating">Password</label>
                    {% render_field form.password1 class="form-control h5 font-weight-bold" %}
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-check">
                    <label class="form-check-label">
                      {% render_field form.is_active class="form-check-input" %}
                      Active
                      <span class="form-check-sign">
                          <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <div class="form-group ">
                    <label for="id_password2" class="bmd-label-floating">Confirm Password</label>
                    {% render_field form.password2 class="form-control h5 font-weight-bold" %}
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="hidden" id="form_ctrl" name="form_ctrl" value=""/>
            <button type="submit" class="btn btn-primary">Confirm</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Emp Modal -->
  <div class="modal fade" id="empformDeleteModal" tabindex="-1" role="dialog" aria-labelledby="empformDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title mt-0"><i class="material-icons align-middle">person_remove</i> Delete Employee</h3> 
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </bu|titleton>
        </div>
        <div class="modal-body text-center">
          <div class="font-weight-bold h5" >Are you sure to <strong>Delete</strong> Employee <strong><span class="text-primary" id="delete_modal_emp"></span></strong>?</div>
        </div>
        <div class="modal-footer">
          <a type="button" class="btn text-white" data-dismiss="modal">No</a>
          <a class="btn btn-primary" id="deletey" href="">Yes</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block readyScript %}
  {% if form.errors.items|length > 0 %}
    $('#empModalButton').trigger('click');
    {% comment %} console.log(localStorage.getItem("globalEmpPK")); {% endcomment %}
    $('#form_ctrl').val(localStorage.getItem("globalEmpPK"));
  {% endif %}
{% endblock readyScript %}

{% block normalScript %}
  function delete_emp_confirm(urla, username) {
    $('#delete_modal_emp').text(username);
    $('#deletey').attr("href", urla);
  }
  
  function employeeAddEdit(pk, first_name, last_name, username, is_admin, is_active, password1, password2) {
    localStorage.setItem("globalEmpPK", pk.toString());
    if (pk == "new" ) {
      $('#new_edit_modal_emp').text("New");
      $('#id_first_name').val("");
      $('#id_last_name').val("");
      $('#id_username').val("");
      $("#id_is_admin").prop('checked', false);
      $("#id_is_active").prop('checked', true);
      $('#id_password1').val("");
      $('#id_password2').val("");
      $('#form_ctrl').val("new_emp");
    } else {
      $('#new_edit_modal_emp').text("Edit");
      $('#id_first_name').val(first_name);
      $('#id_last_name').val(last_name);
      $('#id_username').val(username);
      $("#id_is_admin").prop('checked', is_admin);
      $("#id_is_active").prop('checked', is_active);
      $('#id_password1').val(password1);
      $('#id_password2').val(password2);
      $('#form_ctrl').val(pk);
    }
    {% comment %} console.log(localStorage.getItem("globalEmpPK")); {% endcomment %}
  }
{% endblock normalScript %}