{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Login
{% endblock title %}

{% block content %}
<div class="row mt-5">
  <div class="col-md-4 mt-5 mx-auto">
    <div class="card shadow">
      <div class="card-header card-header-primary">
        <img class="row mx-auto rounded-circle border border-primary" src="{% static 'images/cart_logo.png' %}" alt="" width="100" height="100">
        <div class="h3 text-center">OLO STORE</div>
      </div>
      <div class="card-body">
        <form method="POST" autocomplete="off">
          {% csrf_token %}
          {% comment %} {% if form.non_field_errors %}
            <div class="alert alert-danger pb-1" role="alert">
              <i class="material-icons" style="float:left;">info</i>{{ form.non_field_errors }}
            </div>
          {% endif %} {% endcomment %}
          {{ form.username.errors }}
          {{ form.password.errors }}
          <div class="form-group bmd-form-group">
            <label for="id_username" class="bmd-label-floating">Username</label>
            {% render_field form.username id="id_username" class="form-control" %}
          </div>
          <div class="form-group bmd-form-group">
            <label for="id_username" class="bmd-label-floating">Password</label>
            {% render_field form.password id="id_password" class="form-control" %}
          </div>
          
          <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
        </form>
      </div>
    </div>
  <div>
<div>

{% endblock content %}
